body {
  background-color: rgb(0, 225, 255);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(255, 98, 0);
  background-color: rgb(0, 187, 255);
  position: relative;
}

#walker {
  background-color: rgb(115, 0, 255);
  width: 50px;
  height: 50px;
  position: absolute;
  /*   left: 100px; */ /* Uncomment if you want to set a "starting" position */
  /*   top: 100px;  */ /* Uncomment if you want to set a "starting" position */
}
