body {
  background-color: #0d39fe;
}
h1 {
  color: purple;
}
a.button {
  background-color: #8b00ff;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}
a.button:hover {
  background-color: #a64dff;
}